<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.net>
		<!-- Strong TLS defaults -->
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="false" />
		</settings>
		<defaultProxy enabled="true" />
	</system.net>

	<system.web>
		<httpRuntime targetFramework="4.8" />
	</system.web>

</configuration>